<h1>Students List</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <% students.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
        </tr>
    <% }) %>
</table>


<a href="/students/add">
    <button>Add Student</button>
</a>


<a href="/">Back to Home</a>